## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\..\WeatherPy_Challenge\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Port Elizabeth,ZA,75.09,clear sky,-33.9180,25.5701,39 On Nile Guest House
1,4,Siedlce,PL,74.89,few clouds,52.1677,22.2901,Hotel Arche
2,5,Bengkulu,ID,77.70,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,7,Cape Town,ZA,84.61,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,8,Manadhoo,MV,83.14,scattered clouds,5.7667,73.3833,Vevu Guesthouse

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
markerLayer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markerLayer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"]=="Welcombe Hotel")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"]=="Welcombe Hotel")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"]=="VS Villa")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"]=="Amaloh Boutique Resort")] 
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"]=="Hotel Sunset Beach")]

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure()
vacationDirections = gmaps.directions_layer(start, end, 
                                            waypoints = [stop1, stop2, stop3],
                                           travel_mode = 'DRIVING')
fig2.add_layer(vacationDirections)
fig2

Figure(layout=FigureLayout(height='420px'))

In [45]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, 
                          vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,489,Trincomalee,LK,84.36,overcast clouds,8.5711,81.2335,Welcombe Hotel
1,343,Kalmunai,LK,84.09,broken clouds,7.4167,81.8167,VS Villa
2,641,Matara,LK,81.59,scattered clouds,5.9485,80.5353,Amaloh Boutique Resort
3,114,Negombo,LK,82.00,scattered clouds,7.2083,79.8358,Hotel Sunset Beach
4,489,Trincomalee,LK,84.36,overcast clouds,8.5711,81.2335,Welcombe Hotel

In [46]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()
markerLayer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(markerLayer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))